.neon {
    font-family: 'Monoton', cursive;
    font-size: 130px;
    color: #a322e8;
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #48ff00, 2px 0px 4px #48ff00, 3px 0px 4px #48ff00, 2px 0px 3px #48ff00, 2px 3px 15px #a322e8, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #a322e8, 40px 0vw 200px #a322e8;
}
.flicker-slow {
    animation: flicker 3s linear infinite;
}
.flicker-fast {
    animation: flicker 1s linear infinite;
}
@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        opacity: 0.99;
   }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
   }
}


@media screen and (max-width: 991px) {
    h1.neon {
        font-size: 90px;
    }
}

@media screen and (max-width: 768px) {
    h1.neon {
        font-size: 12vmin;
    }
}

@media screen and (max-width: 479px) {
    h1.neon {
        font-size: 10vmin;
    }
}