.gallery-row {
    margin-top: 1px !important;
}

.image-close {
    margin-left: auto;
}

.image-close img {
    width: 50px;
    height: 50px;
}

.lightbox-portal > div {
    backdrop-filter: brightness(0.3);
}